a {
    text-decoration: none !important;
}

.blue-head-block {
    background: #2871ae;
    border: 2px solid #000000;
}

.white-block {
    background: #fff;
    border: 2px solid #000000;
}

.alphabet-block {margin-top: 10px;}

.head-orange {
    background: #f7b60f;
    border: 2px solid #482400;
}

.submenu-content {
    background: #ffffff;
    border: 2px solid #000000 !important;
    padding: 2px;
}

.gameDownload a {
    border: 2px solid #563518;
    background: #37791d;
}

.search-bar fieldset {
    background: #e7e7e7;
    border: 2px solid #333;
    padding: 2px;
}
.search-bar input {
    background: #e7e7e7;
    height: 20px;
}

.slide-border {
    background: #ffffff;
    border: 3px solid #000000;
    padding: 20px;
}